.text-codeparty {
    color: #F05454 !important;
}

/* ------------------------------------------------------------------ */
/*                                HEADER                              */
/* ------------------------------------------------------------------ */

.navbar img{
    width: 180px;
}

.navbar {
    background: #30475E;
}

/* ------------------------------------------------------------------ */
/*                                MAIN                                */
/* ------------------------------------------------------------------ */

.carousel-item img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}


/* ------------------------------------------------------------------ */
/*                                FOOTER                              */
/* ------------------------------------------------------------------ */


#footer {
    background: #30475E;
}

#footer a {
    color: #F5F5F5;
}